<!DOCTYPE html>
<html>
<head>
    <title>Servicios</title>
</head>
<body>
    <h1>Servicios</h1>
    
    <h2>Servicio de atención al cliente</h2>
    <p>Ofrecemos un servicio de atención al cliente las 24 horas del día, los 7 días de la semana.</p>
    
    <h2>Información sobre rutas</h2>
    <p>Proporcionamos información actualizada sobre las diferentes rutas y horarios del metro de Londres. Dejando la opción al usuario de personalizar su ruta en función de si busca la ruta más rápida, la más cómoda...</p>
    
    <h2>Fallos en la línea</h2>
    <p>Proporcionamos información actualizada sobre los fallos en líneas de metro u otro tipo de impedimentos.</p>
</body>
</html>
